body {
  margin: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
}

.sidebar {
  min-height: 100vh;
  min-width: 12em;
  margin-top:100px; 
  width: 28%;
  border-right: solid black 1px;
  background: #e5fdff;
  padding: 1em;
}
.goals-container{
  margin-top:100px; 
 }

 .new-goal-form{
  margin-top:100px; 
 }
 .sidebar{
  margin-top:100px; 
 }

.sidebar > button {
  width: 100%;
}

.goals-container {
  max-width: 30em;
  margin: auto;
}

.goals-container > div {
  border-bottom: solid 1px grey;
  padding-bottom: 1em;
  min-width: 20em;
}

.goals-container > div > button {
  min-width: 4em;
}

form.new-goal-form {
  border: solid black 1px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

form.new-goal-form > input,
form.new-goal-form > textarea {
  font-size: 1em;
  font-family: sans-serif;
  margin-bottom: 0.5em;
}

input[type="submit"],
button {
  font-weight: bold;
  font-size: 1em;
  background: black;
  border: solid black 1px;
  padding: 0.5em;
  color: #e5fdff;
  cursor: pointer;
}

.navbar {
  background-color:black;
  width: 100000%;
  color: #e5fdff;
  box-sizing: content-box;
  cursor: pointer;
  }
  .nav-link{
    color: #e5fdff;
  }

